body {
    background-color: #0f2b3b;
}

.tileset {
    display: grid;
    grid-template-columns: repeat(80, 32px);
    grid-template-rows: repeat(6, 32px);
}

.tile {
    background-position: 100% 100%;
    width: 32px;
    height: 32px;
}
